.content__cards.single
  .single__pre-title comp-1
  .single__title 
    h2 заголовок поста
    .single__props.props
                   a(href='#!').props__prop.prop
                     i.icon-user
                     span.name Иванов Иван
                   a(href='#!').props__prop.prop
                     i.icon-calendar
                     span 12.12.12 
                   a(href='#!').props__prop.prop
                     i.icon-eye
                     span 37
                   a(href='#!').props__prop.prop
                     i.icon-bubble2
                     span 3
    .m40
    .single__content
      .single__img.imgs 
        img(src='assets/img/img-2.png', alt='img') 
      .single__text 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consectetur autem tempora in quisquam veritatis amet nesciunt? Voluptatem consequatur id a. Quia minus libero quibusdam praesentium nostrum voluptatum consectetur adipisci alias nobis quam, dignissimos officia animi accusantium rerum dolorum molestias omnis repellat eos dolorem saepe odio veritatis! Impedit vel fuga sapiente facilis non? Sed doloribus sit aliquam modi nobis quaerat sunt mollitia, recusandae enim exercitationem deserunt. Necessitatibus sint consectetur ad in consequuntur rerum quisquam eveniet ipsa modi laudantium corrupti aliquid fugit adipisci quibusdam itaque a, libero quod nam temporibus architecto quia molestiae earum laborum corporis. Maxime aliquam asperiores corporis delectus?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consectetur autem tempora in quisquam veritatis amet nesciunt? Voluptatem consequatur id a. Quia minus libero quibusdam praesentium nostrum voluptatum consectetur adipisci alias nobis quam, dignissimos officia animi accusantium rerum dolorum molestias omnis repellat eos dolorem saepe odio veritatis! Impedit vel fuga sapiente facilis non? Sed doloribus sit aliquam modi nobis quaerat sunt mollitia, recusandae enim exercitationem deserunt. Necessitatibus sint consectetur ad in consequuntur rerum quisquam eveniet ipsa modi laudantium corrupti aliquid fugit adipisci quibusdam itaque a, libero quod nam temporibus architecto quia molestiae earum laborum corporis. Maxime aliquam asperiores corporis delectus?

      
