//- section#team.team
//-     .container
//-       .team__body
//-         .team__item  
//-            <a class="btn btn--success button" href="#!">button </a>
//-             .item__img
//-               .imgs
//-                 img(src='assets/img/paralax@3.webp' alt='img')
//-             p.item__text Cargo Expert
//-             .item__title
//-               h2 MARK DONALD
//-             .item__soc.soc
//-               a.soc__button.icon-thumbs-up(href='#!')  
//-               a.soc__button.icon-thumbs-up(href='#!')  
//-               a.soc__button.icon-thumbs-up(href='#!')  




section#dd.dd
      .dd__body.list
        .list__canvas.canvas 
          .canvas__item.canvas__item-1
            i.close.icon-bin2
            i.addCol.addCol-1.icon-thumbs-up
            .list__cell.list__cell--common.js-cell.list__cell--column
              //- i.close-sell.icon-bin2 
          //- .canvas__item.canvas__item-2
          //-   i.close.icon-bin2
          //-   i.addCol.addCol-2.icon-thumbs-up
          //-   .list__cell.list__cell--common.js-cell.list__cell--column
          //-     i.close-sell.icon-bin2 
       
          //- .canvas__item
          //-   i.close.icon-bin2
          //-   i.addCol.addCol-2.icon-thumbs-up
          //-   .list__cell.list__cell--common.js-cell.list__cell.list__cell--row.js-cell
          //-     i.close-sell.icon-bin2   

        
        section#product
          i.close-product.icon-bin2
          .product.copytext
          span.baje текст скопирован
            



        .list__items.list__items--properties
            .list__card.card.js-card(draggable="true").js-card-grid.card--font
              .card__header
                span font-size:
              .card__info.card__info--prop font-size:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--font
              .card__header
                span line-height:
              .card__info.card__info--prop line-height: 1
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--font
              .card__header
                span letter-spacing:
              .card__info.card__info--prop letter-spacing: .018rem
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--font
              .card__header
                span font-weight: 
              .card__info.card__info--prop font-weight: 500
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--font
              .card__header
                span color: 
              .card__info.card__info--prop color:
              i.card__destroy.js-cart.icon-bin2
           
           
            .list__card.card.js-card(draggable="true").js-card-grid.card--size
              .card__header
                span margin: 
              .card__info.card__info--prop margin: 0 0 0 0
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size
              .card__header
                span padding:
              .card__info.card__info--prop padding: 0 0 0 0
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size
              .card__header   calc()
              .card__info.card__info--prop calc(60px + (158-60)*((100vw-768px)/(1199-768)))
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size
              .card__header   width: 
              .card__info.card__info--prop width:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size
              .card__header   max-width: 
              .card__info.card__info--prop max-width:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size
              .card__header   min-width: 
              .card__info.card__info--prop min-width: 
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size
              .card__header   height: 
              .card__info.card__info--prop height:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size
              .card__header   max-height: 
              .card__info.card__info--prop max-height:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size
              .card__header   min-height: 
              .card__info.card__info--prop min-height: 
              i.card__destroy.js-cart.icon-bin2


            .list__card.card.js-card(draggable="true").js-card-grid.card--border
              .card__header
                span border:
              .card__info.card__info--prop border: 1px solid 
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--border
              .card__header
                span border-radius:
              .card__info.card__info--prop border-radius: 50%
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--border
              .card__header
                span border-top
              .card__info.card__info--prop border-top: 1px solid 
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--border
              .card__header
                span box-shadow:
              .card__info.card__info--prop box-shadow: inset 0 0 8px rgba(0,0,0, .4)
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--border
              .card__header
                span text-shadow:
              .card__info.card__info--prop text-shadow: 0 0 3px rgba(0,0,0, .4)
              i.card__destroy.js-cart.icon-bin2
            

            .list__card.card.js-card(draggable="true").js-card-grid.card--mix
              .card__header   +bg
              .card__info.card__info--prop +bg(#99CCFF) 
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--mix
              .card__header  +bg(lighten 
              .card__info.card__info--prop +bg(lighten(#99CCFF, 20%))
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--mix
              .card__header   +br
              .card__info.card__info--prop +br
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--mix
              .card__header   +fdc
              .card__info.card__info--prop +fdc
              i.card__destroy.js-cart.icon-bin2









            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header
                span opacity:
              .card__info.card__info--prop opacity: .2
              i.card__destroy.js-cart.icon-bin2




            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header   transform:
              .card__info.card__info--prop transform: translate(-50%, -50%) rotate(deg)
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header text-align: center
              .card__info.card__info--prop text-align: center
              i.card__destroy.js-cart.icon-bin2

 
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header   display: block
              .card__info.card__info--prop display: block
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header   overflow: hidden
              .card__info.card__info--prop overflow: hidden
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header   display: none
              .card__info.card__info--prop display: none
              i.card__destroy.js-cart.icon-bin2
 
            .list__card.card.js-card(draggable="true").js-card-grid.card__abs
              .card__header  position: absolute
              .card__info.card__info--prop position: absolute
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card__abs
              .card__header   top: 
              .card__info.card__info--prop top: 
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card__abs
              .card__header   bottom: 
              .card__info.card__info--prop bottom: 
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card__abs
              .card__header   left: 
              .card__info.card__info--prop left:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card__abs
              .card__header   right: 
              .card__info.card__info--prop right:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card__abs
              .card__header   z-index:
              .card__info.card__info--prop z-index: 2
              i.card__destroy.js-cart.icon-bin2

        //- grid 
        .list__items.list__items--properties.list__items--properties-grid 
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  display: grid
              .card__info.card__info--prop display: grid
              i.card__destroy.js-cart.icon-bin2



            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  grid-template-columns: repeat(3, 1fr)
              .card__info.card__info--prop grid-template-columns: repeat(3, 1fr)
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  адаптивные колонки однаковой ширины
              .card__info.card__info--prop grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  много одинаковых колонок в ряд
              .card__info.card__info--prop grid-template-columns: repeat(auto-fill,100px)
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  grid-template-columns:
              .card__info.card__info--prop grid-template-columns: 100px 200px minmax(100px, 300px)&#45;grid-template-columns: min-content 200px max-content&#45;
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  grid-template-rows:
              .card__info.card__info--prop grid-template-rows:  repeat(3, 1fr)
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  grid-auto-flow: column
              .card__info.card__info--prop grid-auto-flow: column
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  grid-template-areas:
              .card__info.card__info--prop grid-template-areas: 'area1 area2' 'area1 area2' 'area1 .' 'area1 area2' 'area1 area2'
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  grid-area:
              .card__info.card__info--prop grid-area:
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  column-gap:
              .card__info.card__info--prop column-gap:
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  row-gap:
              .card__info.card__info--prop row-gap:
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  align-items
              .card__info.card__info--prop align-items: flex-start
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  align-self
              .card__info.card__info--prop align-self: end
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  justify-content
              .card__info.card__info--prop justify-content: space-between
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  justify-items
              .card__info.card__info--prop justify-items
              i.card__destroy.js-cart.icon-bin2 







        .list__items.list__items--blocks
           
            .list__card.card.js-card(draggable="true").js-card-img
              .card__header.icon-image 
              span.monitor-class 
              .card__info 
                .js-img
                  .imgs
                    img(src='assets/img/card/paralax@3.webp' alt='img')
              i.card__destroy.js-cart.icon-bin2
           
            .list__card.card.js-card(draggable="true").js-card-title
              .card__header.icon-format-font-size 
              span.monitor-class
              .card__info 
                .title 
                  h2  title 
              i.card__destroy.js-cart.icon-bin2
          
            .list__card.card.js-card(draggable="true").js-card-text
              .card__header.icon-news-paper
              span.monitor-class
              .card__info
                p.text  text
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card(draggable="true").js-card-button
              .card__header.icon-arrow-down
              span.monitor-class
              .card__info 
                a(href='#!').btn.btn--success.button button 
              i.card__destroy.js-cart.icon-bin2
          
        form.my-form.my-form--blocks
          .my-form__item
            label класс картинки
              input.card-input(type="text"  value="__img" placeholder="__img").js-input-img-class
          .my-form__item
            label текст заголовка
              input.card-input(type="text"  value="" placeholder="TITLE").js-input-title
            label класс заголовка  
              input.card-input(type="text"   placeholder="__title" value="__title").js-input-title-class
          .my-form__item
            label текст текста
              input.card-input(type="text"  value="" placeholder="text").js-input-text
            label класс текста
              input.card-input(type="text"  value="__text" placeholder="__text").js-input-text-class
          .my-form__item
            label текст кнопки
              input.card-input(type="text" value="" placeholder="button").js-input-button
            label класс кнопки
              input.card-input(type="text" value="btn btn--success  __button" placeholder="btn btn--success __button").js-input-button-class
        


        //- --------js---------
        .list__items.list__items--properties.list__items--properties-js
            
            
            
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  window.onload
              .card__info.card__info--prop window.onload=function(){}
              i.card__destroy.js-cart.icon-bin2



            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  const My = () => 
              .card__info.card__info--prop const My = () => {};My();
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header   const card =
              .card__info.card__info--prop const card =
              i.card__destroy.js-cart.icon-bin2

        
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header   var cart =
              .card__info.card__info--prop var cart =
              i.card__destroy.js-cart.icon-bin2

        
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header   querySelector
              .card__info.card__info--prop  document.querySelector('.js-card');
              i.card__destroy.js-cart.icon-bin2
        
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header   все .query
              .card__info.card__info--prop parent.querySelector('.filmname'); &#45;  document.querySelector('.js-card');  &#45;  document.getElementById()   &#45;  document.getElementById()   &#45;  document.getElementsByTagName(имяТега)&#45;  document.getElementsByClassName() &#45;  document.querySelectorAll(selector); &#45;  document.querySelector('button'); &#45;  document.createElement(tagName); &#45;  document.getElementsByTagName(имяТега) &#45;  document.getElementsByClassName() &#45;  document.querySelectorAll(selector); &#45;  document.querySelector('button'); &#45;  document.createElement(tagName);
              i.card__destroy.js-cart.icon-bin2


        
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  операции с дочерними 
              .card__info.card__info--prop  ele.appendChild(childEle) &#45; ele.removeChild(strong); &#45;ele.replaceChild(newChildEle, oldChileEle)
              i.card__destroy.js-cart.icon-bin2

        
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  операции с атрибутами
              .card__info.card__info--prop  ele.setAttribute(name, value);&#45;ele.getAttribute(name);&#45;ele.removeAttribute(name);
              i.card__destroy.js-cart.icon-bin2

        
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  операции с классами
              .card__info.card__info--prop  elem.classList.add("class")&#45;elem.classList.remove("class")&#45;elem.classList.toggle("class")&#45;elem.classList.contains("class")  
              i.card__destroy.js-cart.icon-bin2

        
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header операции со стилями
              .card__info.card__info--prop  elem.style.backgroundColor = "red"&#45;div.style.cssText=`background-color: yellow;width: 100px;`&#45;div.setAttribute('style', 'color: red...')&#45;four.style.background="red";
              i.card__destroy.js-cart.icon-bin2

         

        
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  отношение к элементу
              .card__info.card__info--prop  .children;&#45;.parentElement;&#45;nextElementSibling&#45;.previousElementSibling&#45;
              i.card__destroy.js-cart.icon-bin2

         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  EventListener
              .card__info.card__info--prop  .addEventListener('click',foo);&#45;.removeEventListener('click',foo);
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  click
              .card__info.card__info--prop  .addEventListener('click', function (event) {});
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  .onclick
              .card__info.card__info--prop  sample.onclick = activeItem;
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  EventListener('dragover'
              .card__info.card__info--prop  .addEventListener('dragover','drop','drop','dragend', dragOver);
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  onchange
              .card__info.card__info--prop    inputCard.onchange = function() {  }
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  input
              .card__info.card__info--prop    inputCard.input = function() {  }
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  .textContent
              .card__info.card__info--prop   .textContent
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header childNodes 
              .card__info.card__info--prop Выведем содержимое первого узла:&#45;  console.log(parent.childNodes[0].textContent);
              i.card__destroy.js-cart.icon-bin2

         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  e.preventDefault
              .card__info.card__info--prop  e.preventDefault();
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  .innerHTML
              .card__info.card__info--prop  .innerHTML
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  .innerText
              .card__info.card__info--prop  .innerText
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header .value
              .card__info.card__info--prop  .value;
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  createElement
              .card__info.card__info--prop  document.createElement('div');
              i.card__destroy.js-cart.icon-bin2
      
         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  .remove
              .card__info.card__info--prop  .remove();
              i.card__destroy.js-cart.icon-bin2
     
    
         
            .list__card.card.js-card.js-card-grid(draggable="true")
              .card__header  forEach
              .card__info.card__info--prop  .forEach((cell)=>{    })
              i.card__destroy.js-cart.icon-bin2
         
 













        //- -----jq--------
        .list__items.list__items--properties.list__items--properties-jq
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  doc.ready
              .card__info.card__info--prop $(document).ready(function (e) {  }); 
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  $("  ")
              .card__info.card__info--prop $(".header__burger")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header .addClass
              .card__info.card__info--prop .addClass("menu-active")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header .removeClass
              .card__info.card__info--prop .removeClass("menu-active")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header .attr
              .card__info.card__info--prop $("div").attr({"class":"divEl", "title":"Див"})
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .append(
              .card__info.card__info--prop .append(); 
              i.card__destroy.js-cart.icon-bin2 
           
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .find
              .card__info.card__info--prop .find(".header__info")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .eq
              .card__info.card__info--prop .eq($(this).index())
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .next
              .card__info.card__info--prop $("div").next(".bigBlock")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .siblings
              .card__info.card__info--prop $("div").siblings(".board24_item-js")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .closest
              .card__info.card__info--prop $('#test').closest('.www')
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .parent
              .card__info.card__info--prop .parent('.www')
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .last()
              .card__info.card__info--prop $("p:first").last()
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .first()
              .card__info.card__info--prop $("p:last").first()
              i.card__destroy.js-cart.icon-bin2 



            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  Список селекторов
              .card__info.card__info--prop a:not(:last-child) :not(.flex-row-reverse) :first-child  :last-child    :nth-child( )  :nth-child-last( )  :only-child  :only-of-type   :first-of-type  :last-of-type   :nth-first-of-type( )  :nth-last-of-type( )
              i.card__destroy.js-cart.icon-bin2 





            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  click
              .card__info.card__info--prop  $("    ").on("click", function () { }); 
              i.card__destroy.js-cart.icon-bin2 
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  on("click"
              .card__info.card__info--prop  $(".art_inner__vidget").on("click", "a", function (event) {  });
              i.card__destroy.js-cart.icon-bin2 




            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  setTimeout
              .card__info.card__info--prop  setTimeout(function () {  $(".info").addClass("info-active"); }, 200);
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  if
              .card__info.card__info--prop      if (window.pageYOffset > 100) { } else { }
              i.card__destroy.js-cart.icon-bin2 

        
        
        
            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  window.onresize
              .card__info.card__info--prop  window.onresize = function () {
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  window).scroll
              .card__info.card__info--prop  $(window).scroll(function () { });
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header mouseup
              .card__info.card__info--prop  $(document).mouseup(function (e){ });
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .scroll()
              .card__info.card__info--prop   .scroll()
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  window.innerWidth 
              .card__info.card__info--prop  window.innerWidth >= 999
              i.card__destroy.js-cart.icon-bin2 





            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .remove()
              .card__info.card__info--prop  .remove();
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header .fadeOut(1);
              .card__info.card__info--prop  .fadeOut(1);
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header .fadeIn(200);
              .card__info.card__info--prop  .fadeIn(200);
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header .slideDown(200)
              .card__info.card__info--prop  .slideDown(200)
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header .slideUp(200)
              .card__info.card__info--prop  .slideUp(200)
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .css
              .card__info.card__info--prop  .css("overflow", "visible");
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  закрытие модал
              .card__info.card__info--prop  $(document).on("mouseup", function(e) { if ($(".popup__overlay").is(e.target)) {        }});
              i.card__destroy.js-cart.icon-bin2 



            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  $(el).offset().top - 100;
              .card__info.card__info--prop   $(el).offset().top - 100;
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  $(window).width()
              .card__info.card__info--prop   if ($(window).width() >= 992) {}
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  $(window).scrollTop();
              .card__info.card__info--prop   $(window).scrollTop();
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  event.prevent
              .card__info.card__info--prop   event.preventDefault();
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  .animate
              .card__info.card__info--prop  .animate({ scrollTop: top - 80}, 800);
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  события формы
              .card__info.card__info--prop  .focus()  .blur()  .change()  .focusin() .focusout() .select() .submit()
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  массив из дочерних блоков
              .card__info.card__info--prop   $(".accordion__item--profile").each(function () {let array = Array.from($(this).find(".history .video-catalog__item"));
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid
              .card__header  переббор массива
              .card__info.card__info--prop    $.each(array, function (index) {if (2 < index) { $(this).addClass("_hide"); }
    
              i.card__destroy.js-cart.icon-bin2 










