


//- hr 
//- h2(style="padding: 0 0 20px 0	") popup







//- //- одиночная модалка===================
//- button.btn.btn--success(type='button').btn-popup.popup-init-js  Открыть попап
//- .popup
//-     .popup__overlay
//-       .popup__inner
//-         p одиночная модалка  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consectetur at similique sit unde laborum voluptate! Ullam fuga quibusdam, ratione veritatis modi sit non, nam minima architecto nostrum labore. Esse, sint. Nobis explicabo necessitatibus laboriosam voluptatibus natus ullam optio deleniti! Error aliquid voluptates consequuntur nemo, deleniti reiciendis sunt accusantium eius illo natus dignissimos alias accusamus amet? Dolorum eveniet in eaque! Non sed praesentium veniam doloribus vitae, aut provident molestias aspernatur id velit ratione. Iusto adipisci unde mollitia ipsum ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consectetur at similique sit unde laborum voluptate! Ullam fuga quibusdam, ratione veritatis modi sit non, nam minima architecto nostrum labore. Esse, sint. Nobis explicabo necessitatibus laboriosam voluptatibus natus ullam optio deleniti! Error aliquid voluptates consequuntur nemo, deleniti reiciendis sunt accusantium eius illo natus dignissimos alias accusamus amet? Dolorum eveniet in eaque! Non sed praesentium veniam doloribus vitae, aut provident molestias aspernatur id velit ratione. Iusto adipisci unde mollitia ipsum ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consectetur at similique sit unde laborum voluptate! Ullam fuga quibusdam, ratione veritatis modi sit non, nam minima architecto nostrum labore. Esse, sint. Nobis explicabo necessitatibus laboriosam voluptatibus natus ullam optio deleniti! Error aliquid voluptates consequuntur nemo, deleniti reiciendis sunt accusantium eius illo natus dignissimos alias accusamus amet? Dolorum eveniet in eaque! Non sed praesentium veniam doloribus vitae, aut provident molestias aspernatur id velit ratione. Iusto adipisci unde mollitia ipsum ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consecte
//-         i.icon-x.popup__close.popup__close






//- ===================несколько модалок на одном скрипте====================================
section#sprite-svg.sprite-svg.section-modal
      h3 sprite-svg
      .section-modal__body
          a(href="#!" rel="sprite-svg-popup").popups-init-js как делать sprite svg
          //- a(href="#!" rel="2-popup").popups-init-js вывод цикла записей
          //- a(href="#!" rel="3-popup").popups-init-js открыть 3 попап
          //- a(href="#!" rel="4-popup").popups-init-js открыть 4 попап



section#wordpress.wordpress.section-modal
      h3 WORDPRESS
      .section-modal__body
          //- a(href="#!" rel="1-popup").popups-init-js выбор страницы для вывода
          //- a(href="#!" rel="2-popup").popups-init-js вывод цикла записей
          //- a(href="#!" rel="3-popup").popups-init-js открыть 3 попап
          //- a(href="#!" rel="4-popup").popups-init-js открыть 4 попап


section#modaL.modaL
  #sprite-svg-popup.popups
      .popups__overlay
        .popups__inner
          i.icon-close21.popup__close.close-js
          .popups__line
              p 1. заводим файл sprite.svg в папку img
              .m10
              p 2. копируем svg как файл с макета в папку dounloads на компьютере
              .m10
              p 3. переименовываем картинки , открывая их двойным щелчком. смотрим, чтобы названия соответствовали месту в макете
              .m10
              p 4. открываем генератор спрайтов https://svgsprit.es
              .m10
              p 5. генерируем спрайт и заводим его в свой файл
              .m10
              p 6. выводим нужный svg в верстку   
              .copytext
                .fz.copy-text
                  p svg.icon-line 
                  <br>
                  p use(xlink:href='/assets/img/sprite.svg#i-line-3')
              p 7. делаем отдельную линию и туда выводим все иконк для наглядности
section#modaL.modaL
  #1-popup.popup.popups
      .popups__overlay
        .popups__inner
          i.icon-close21.popup__close.close-js
          .popups__line
              p по имени шаблона
              .copytext    
                .card__info.fz if( is_page_template( 'templates/template-single.php' )) {  get_template_part('./includes/bunner-single') }
          .popups__line
              p по id
              .copytext    
                .card__info.fz $id=15;  if( is_page($id) ) {}else{}
          .popups__line
              p по слагу страницы
              .copytext    
                .card__info.fz if (get_page_by_path("how-we-work")->ID == get_the_ID()) { }else{}
          

  #2-popup.popup.popups
      .popups__overlay
        .popups__inner
          i.icon-close21.popup__close.close-js
          .popups__line
              p вывод записей 
              .copytext    
                .card__info.fz     
                    |    global $post;
                    |    $args = array(       
                    |       'post_type'=>'post',
                    |       'publish' => true,
                    |       'numberposts' => 200,
                    |       'category' => 41
                    |        'p' => 129,           
                    |        'p' => $postID  
                    |      );
                    |      
                    |    $projects = get_posts($args);  
                    |    $reversed = array_reverse($projects);
                    |   
                    |   if ($projects ) {
                    |   
                    |    foreach($reversed as $post){
                    |      setup_postdata( $post );
                    |      $post_id = $post->ID;
                    |      $post_title = $post->post_title; 
                    |      $post_text=$post->post_content;  
                    |      $image=get_the_post_thumbnail_url($post_id, 'post');  
                    |      $link = esc_url( get_permalink( $post_id ) );
                    |
                    |   the_ID();
                    |   the_permalink();
                    |   post_class();
                    |   the_content();
                    |   the_date(); 
                    |   the_title(); 
                    |   the_excerpt(); 
                    |   the_post_thumbnail(); 
                    |   next_posts_link();
                    |   previous_posts_link();
                    |
                    |
                    |     div div div div div div div div 
                    |	 }
                    | } else {
                    |  `<`p`>``<`?php _e( 'Sorry, no posts matched your criteria.' ); ?`>``<`/p`>`
                   
                    |  }
                    |  wp_reset_postdata();

  #3-popup.popup.popups
      .popups__overlay
        .popups__inner
          i.icon-close21.popup__close.close-js
          p это 3 попап
  #4-popup.popup.popups
      .popups__overlay
        .popups__inner
          i.icon-close21.popup__close.close-js
          p это 4 попап






