section#content.content
    .container
      .content__body
        .content__column
          include ../modules/content-single.pug
          //- ul.content__cards.cards
          //-   li.cards__card.card
          //-     .card__img.imgs 
          //-       img(src="assets/img/paralax.jpg", alt="alt")
          //-     .fdc
          //-       .card__pre-title comp-1
          //-       .card__title заголовок записи 1
          //-       .card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat quasi quidem, iusto culpa officia fugit et distinctio velit quisquam reprehenderit perferendis repellat omnis eligendi a? Quae maiores quia dolorum.
          //-       .card__props.props
          //-          a(href='#!').props__prop.prop
          //-            i.icon-user
          //-            span.name Иванов Иван
          //-          a(href='#!').props__prop.prop
          //-            i.icon-calendar
          //-            span 12.12.12 
          //-          a(href='#!').props__prop.prop
          //-            i.icon-eye
          //-            span 37
          //-          a(href='#!').props__prop.prop
          //-            i.icon-bubble2
          //-            span 3

                
          //-   li.cards__card.card
          //-     .card__img.imgs 
          //-       img(src="assets/img/paralax.jpg", alt="alt")
          //-     .fdc
          //-       .card__pre-title comp-1
          //-       .card__title заголовок записи 1
          //-       .card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat quasi quidem, iusto culpa officia fugit et distinctio velit quisquam reprehenderit perferendis repellat omnis eligendi a? Quae maiores quia dolorum.
          //-       .card__props.props
          //-          a(href='#!').props__prop.prop
          //-            i.icon-user
          //-            span.name Иванов Иван
          //-          a(href='#!').props__prop.prop
          //-            i.icon-calendar
          //-            span 12.12.12 
          //-          a(href='#!').props__prop.prop
          //-            i.icon-eye
          //-            span 37
          //-          a(href='#!').props__prop.prop
          //-            i.icon-bubble2
          //-            span 3

                
          //-   li.cards__card.card
          //-     .card__img.imgs 
          //-       img(src="assets/img/paralax.jpg", alt="alt")
          //-     .fdc
          //-       .card__pre-title comp-1
          //-       .card__title заголовок записи 1
          //-       .card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat quasi quidem, iusto culpa officia fugit et distinctio velit quisquam reprehenderit perferendis repellat omnis eligendi a? Quae maiores quia dolorum.
          //-       .card__props.props
          //-          a(href='#!').props__prop.prop
          //-            i.icon-user
          //-            span.name Иванов Иван
          //-          a(href='#!').props__prop.prop
          //-            i.icon-calendar
          //-            span 12.12.12 
          //-          a(href='#!').props__prop.prop
          //-            i.icon-eye
          //-            span 37
          //-          a(href='#!').props__prop.prop
          //-            i.icon-bubble2
          //-            span 3

                
          //-   li.cards__card.card
          //-     .card__img.imgs 
          //-       img(src="assets/img/paralax.jpg", alt="alt")
          //-     .fdc
          //-       .card__pre-title comp-1
          //-       .card__title заголовок записи 1
          //-       .card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat quasi quidem, iusto culpa officia fugit et distinctio velit quisquam reprehenderit perferendis repellat omnis eligendi a? Quae maiores quia dolorum.
          //-       .card__props.props
          //-          a(href='#!').props__prop.prop
          //-            i.icon-user
          //-            span.name Иванов Иван
          //-          a(href='#!').props__prop.prop
          //-            i.icon-calendar
          //-            span 12.12.12 
          //-          a(href='#!').props__prop.prop
          //-            i.icon-eye
          //-            span 37
          //-          a(href='#!').props__prop.prop
          //-            i.icon-bubble2
          //-            span 3

                
          //-   li.cards__card.card
          //-     .card__img.imgs 
          //-       img(src="assets/img/paralax.jpg", alt="alt")
          //-     .fdc
          //-       .card__pre-title comp-1
          //-       .card__title заголовок записи 1
          //-       .card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat quasi quidem, iusto culpa officia fugit et distinctio velit quisquam reprehenderit perferendis repellat omnis eligendi a? Quae maiores quia dolorum.
          //-       .card__props.props
          //-          a(href='#!').props__prop.prop
          //-            i.icon-user
          //-            span.name Иванов Иван
          //-          a(href='#!').props__prop.prop
          //-            i.icon-calendar
          //-            span 12.12.12 
          //-          a(href='#!').props__prop.prop
          //-            i.icon-eye
          //-            span 37
          //-          a(href='#!').props__prop.prop
          //-            i.icon-bubble2
          //-            span 3

                
          //-   li.cards__card.card
          //-     .card__img.imgs 
          //-       img(src="assets/img/paralax.jpg", alt="alt")
          //-     .fdc
          //-       .card__pre-title comp-1
          //-       .card__title заголовок записи 1
          //-       .card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat quasi quidem, iusto culpa officia fugit et distinctio velit quisquam reprehenderit perferendis repellat omnis eligendi a? Quae maiores quia dolorum.
          //-       .card__props.props
          //-          a(href='#!').props__prop.prop
          //-            i.icon-user
          //-            span.name Иванов Иван
          //-          a(href='#!').props__prop.prop
          //-            i.icon-calendar
          //-            span 12.12.12 
          //-          a(href='#!').props__prop.prop
          //-            i.icon-eye
          //-            span 37
          //-          a(href='#!').props__prop.prop
          //-            i.icon-bubble2
          //-            span 3

                
          //-   li.cards__card.card
          //-     .card__img.imgs 
          //-       img(src="assets/img/paralax.jpg", alt="alt")
          //-     .fdc
          //-       .card__pre-title comp-1
          //-       .card__title заголовок записи 1
          //-       .card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat quasi quidem, iusto culpa officia fugit et distinctio velit quisquam reprehenderit perferendis repellat omnis eligendi a? Quae maiores quia dolorum.
          //-       .card__props.props
          //-          a(href='#!').props__prop.prop
          //-            i.icon-user
          //-            span.name Иванов Иван
          //-          a(href='#!').props__prop.prop
          //-            i.icon-calendar
          //-            span 12.12.12 
          //-          a(href='#!').props__prop.prop
          //-            i.icon-eye
          //-            span 37
          //-          a(href='#!').props__prop.prop
          //-            i.icon-bubble2
          //-            span 3

                
          //-   li.cards__card.card
          //-     .card__img.imgs 
          //-       img(src="assets/img/paralax.jpg", alt="alt")
          //-     .fdc
          //-       .card__pre-title comp-1
          //-       .card__title заголовок записи 1
          //-       .card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat quasi quidem, iusto culpa officia fugit et distinctio velit quisquam reprehenderit perferendis repellat omnis eligendi a? Quae maiores quia dolorum.
          //-       .card__props.props
          //-          a(href='#!').props__prop.prop
          //-            i.icon-user
          //-            span.name Иванов Иван
          //-          a(href='#!').props__prop.prop
          //-            i.icon-calendar
          //-            span 12.12.12 
          //-          a(href='#!').props__prop.prop
          //-            i.icon-eye
          //-            span 37
          //-          a(href='#!').props__prop.prop
          //-            i.icon-bubble2
          //-            span 3

                
          //-   li.cards__card.card
          //-     .card__img.imgs 
          //-       img(src="assets/img/paralax.jpg", alt="alt")
          //-     .fdc
          //-       .card__pre-title comp-1
          //-       .card__title заголовок записи 1
          //-       .card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat quasi quidem, iusto culpa officia fugit et distinctio velit quisquam reprehenderit perferendis repellat omnis eligendi a? Quae maiores quia dolorum.
          //-       .card__props.props
          //-          a(href='#!').props__prop.prop
          //-            i.icon-user
          //-            span.name Иванов Иван
          //-          a(href='#!').props__prop.prop
          //-            i.icon-calendar
          //-            span 12.12.12 
          //-          a(href='#!').props__prop.prop
          //-            i.icon-eye
          //-            span 37
          //-          a(href='#!').props__prop.prop
          //-            i.icon-bubble2
          //-            span 3

                
         
        include ./side