.content__column.side
          form(action="get").search 
            input(type="text")
            input(type="search")
          a(href='#!').side__button.btn.btn--empty получить консультацию
          .side__taxanomies.tax
            .m15
            .tax__title   рубрики 
            .tax__item
              span comp-1
              span.dotted
              span 8
            .tax__item
              span comp-2
              span.dotted
              span 8
            .tax__item
              span comp-3
              span.dotted
              span 8
            .tax__item
              span comp-4
              span.dotted
              span 8
            .tax__item
              span comp-5
              span.dotted
              span 8
            .tax__item
              span comp-6
              span.dotted
              span 8
            .tax__item
              span comp-7
              span.dotted
              span 8
            .tax__item
              span comp-8
              span.dotted
              span 8
            .tax__item
              span comp-9
              span.dotted
              span 8
          
          .defence
            .defence__title Самооборона от насекомых
            .defence__text телефон +38096888888888
            hr
            .defence__members
              .m10 
              .defence__info
                a(href='#!')  2 300
                span участников 
              .m15 
              .defence__line
                a(href='#!')
                  img(src='assets/img/p.jpg', alt='img')
                a(href='#!')
                  img(src='assets/img/p.jpg', alt='img')
                a(href='#!')
                  img(src='assets/img/p.jpg', alt='img')
                a(href='#!')
                  img(src='assets/img/p.jpg', alt='img')
                a(href='#!')
                  img(src='assets/img/p.jpg', alt='img')
                a(href='#!')
                  img(src='assets/img/p.jpg', alt='img')
              .m10
              a(href='#!').defence__button.btn.btn--success  вы подписаны
              
