section#stretch.stretch
    //- input(type="text" value="").stretch__input#myinput
    //- input(type="range" value="0" ).stretch__input#myinput
    .flex
      section.calculator-section(data-type='slider-group' )
        p.range
          .calculator-section__number
            span  block-1 &nbsp; &nbsp; 
            span margin-top:&nbsp; 
            output
            span px
          input#margin-top-1.stretch__input(type='range' min='0' max='100' value='0' step='1' name='groep1')
      section.calculator-section(data-type='slider-group' )
        p.range
          .calculator-section__number
            span  block-1&nbsp; &nbsp; 
            span margin-bottom:&nbsp; 
            output
            span px 
          input#margin-bottom-1.stretch__input(type='range' min='0' max='100' value='0' step='1' name='groep2')
    
 
    hr


    section#test.test
        .container
          .test__body
              .test__column.stretch__block-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    
    
    hr



