.list__items.list__items--properties

            .list__card.card.js-card(draggable="true").js-card-grid.card--abs.copytext
              .card__header(style="text-shadow: 0 0 10px #FF0000; color:SpringGreen")  position: absolute
              .card__info.card__info--prop position: absolute
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--abs.copytext
              .card__header   top: 
              .card__info.card__info--prop top: 
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--abs.copytext
              .card__header   bottom: 
              .card__info.card__info--prop bottom: 
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--abs.copytext
              .card__header   left: 
              .card__info.card__info--prop left:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--abs.copytext
              .card__header   right: 
              .card__info.card__info--prop right:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").card--abs.copytext
              .card__header   transform:
              .card__info.card__info--prop transform: translate(-50%, -50%) rotate(deg)
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--abs.copytext
              .card__header   z-index:
              .card__info.card__info--prop z-index: 2
              i.card__destroy.js-cart.icon-bin2