.list__items.list__items--properties
            .card__cheap 
              p Цвет 
              p Рамка
              p Тень
            .list__card.card.js-card(draggable="true").js-card-grid.card--border.copytext
              .card__header
                span background
              .card__info.card__info--prop background: 
              i.card__destroy.js-cart.icon-bin2
            
            .list__card.card.js-card(draggable="true").js-card-grid.card--border.copytext
              .card__header
                span transparent
              .card__info.card__info--prop transparent
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.card--border.copytext
              .card__header
                span $active
              .card__info.card__info--prop $active
              i.card__destroy.js-cart.icon-bin2
            
            .list__card.card.js-card(draggable="true").js-card-grid.card--border.copytext
              .card__header
                span border:
              .card__info.card__info--prop border: 1px solid 
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.card--border.copytext
              .card__header
                span border-radius:
              .card__info.card__info--prop border-radius: 50%
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--border.copytext
              .card__header
                span border-top
              .card__info.card__info--prop border-top: 1px solid 
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--border.copytext
              .card__header
                span box-shadow:
              .card__info.card__info--prop box-shadow: inset 0 0 8px rgba(0,0,0, .4)
              i.card__destroy.js-cart.icon-bin2