.list__items.list__items--properties
          .card__cheap 
              p Child 
          .list__card.card.js-card(draggable="true").js-card-grid.card--nth.copytext
              .card__header(style="text-shadow: 0 0 10px #FF0000; color:SpringGreen")  :first-child
              .card__info.card__info--prop &:first-child
              i.card__destroy.js-cart.icon-bin2
          .list__card.card.js-card(draggable="true").js-card-grid.card--nth.copytext
              .card__header  :last-child
              .card__info.card__info--prop &:last-child
              i.card__destroy.js-cart.icon-bin2
          .list__card.card.js-card(draggable="true").js-card-grid.card--nth.copytext
              .card__header  :first-of-type
              .card__info.card__info--prop &:first-of-type
              i.card__destroy.js-cart.icon-bin2
          .list__card.card.js-card(draggable="true").js-card-grid.card--nth.copytext
              .card__header  :last-of-type
              .card__info.card__info--prop &:last-of-type
              i.card__destroy.js-cart.icon-bin2
          .list__card.card.js-card(draggable="true").js-card-grid.card--nth.copytext
              .card__header  :not()
              .card__info.card__info--prop &:not()
              i.card__destroy.js-cart.icon-bin2