.list__items.list__items--properties.list__items--properties-sass
          .card__cheap A
          
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              
              .card__header  $active
              .card__info.card__info--prop $active
              i.card__destroy.js-cart.icon-bin2  
          
          
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __adress
              
              .card__info.card__info--prop __adress
              i.card__destroy.js-cart.icon-bin2  
         
.list__items.list__items--properties.list__items--properties-sass
          .card__cheap B
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __body
              .card__info.card__info--prop __body
              i.card__destroy.js-cart.icon-bin2

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __button
              .card__info.card__info--prop __button
              i.card__destroy.js-cart.icon-bin2  
          
.list__items.list__items--properties.list__items--properties-sass
          .card__cheap C
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __cards
              .card__info.card__info--prop __cards
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __card
              .card__info.card__info--prop __card
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __cheap
              .card__info.card__info--prop __cheap
              i.card__destroy.js-cart.icon-bin2  
         
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __close
              .card__info.card__info--prop __close
              i.card__destroy.js-cart.icon-bin2  
         
         
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __col
              .card__info.card__info--prop __col
              i.card__destroy.js-cart.icon-bin2 

.list__items.list__items--properties.list__items--properties-sass
          .card__cheap D
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __desc
              .card__info.card__info--prop __desc
              i.card__destroy.js-cart.icon-bin2  
         

          
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __data
              .card__info.card__info--prop __data
              i.card__destroy.js-cart.icon-bin2  
          
          
          
.list__items.list__items--properties.list__items--properties-sass
          .card__cheap E 
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __email
              .card__info.card__info--prop __email
              i.card__destroy.js-cart.icon-bin2  

.list__items.list__items--properties.list__items--properties-sass
          .card__cheap F
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  form 
              .card__info.card__info--prop form(id="auth" name="test" method="get" action="input1.php")
              i.card__destroy.js-cart.icon-bin2  
         
         
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __footer
              .card__info.card__info--prop __footer
              i.card__destroy.js-cart.icon-bin2  
         
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __form
              .card__info.card__info--prop __form
              i.card__destroy.js-cart.icon-bin2  

.list__items.list__items--properties.list__items--properties-sass
          .card__cheap I
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header __img
              .card__info.card__info--prop __img
              i.card__destroy.js-cart.icon-bin2  
         
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header .imgs
              .card__info.card__info--prop .imgs
              i.card__destroy.js-cart.icon-bin2  
         
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __info
              .card__info.card__info--prop __info
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  input  "text"
              .card__info.card__info--prop input(type="text"  value="" placeholder="" form="auth")
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  input  "password"
              .card__info.card__info--prop input(type="password"  value="" placeholder="" form="auth")
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  i.icon-home
              .card__info.card__info--prop i.icon-home
              i.card__destroy.js-cart.icon-bin2  
         
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __items
              .card__info.card__info--prop __items
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __item
              .card__info.card__info--prop __item
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  input "submit" 
              .card__info.card__info--prop input(type="submit" value="Отправить" form="auth")
              i.card__destroy.js-cart.icon-bin2  






          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __input
              .card__info.card__info--prop __input
              i.card__destroy.js-cart.icon-bin2  








.list__items.list__items--properties.list__items--properties-sass
          .card__cheap H
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header __header
              .card__info.card__info--prop __header
              i.card__destroy.js-cart.icon-bin2  
         

         



.list__items.list__items--properties.list__items--properties-sass
          .card__cheap L
       
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __link
              .card__info.card__info--prop __link
              i.card__destroy.js-cart.icon-bin2  
       
       

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __list
              .card__info.card__info--prop __list
              i.card__destroy.js-cart.icon-bin2  


          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __low
              .card__info.card__info--prop __low
              i.card__destroy.js-cart.icon-bin2  




          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __line
              .card__info.card__info--prop __line
              i.card__destroy.js-cart.icon-bin2  


          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __logo
              .card__info.card__info--prop __logo
              i.card__destroy.js-cart.icon-bin2  

.list__items.list__items--properties.list__items--properties-sass
          .card__cheap M
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __menu
              .card__info.card__info--prop __menu
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __mask
              .card__info.card__info--prop __mask
              i.card__destroy.js-cart.icon-bin2  



.list__items.list__items--properties.list__items--properties-sass
          .card__cheap N
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __name
              .card__info.card__info--prop __name
              i.card__destroy.js-cart.icon-bin2  






          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __nav
              .card__info.card__info--prop __nav
              i.card__destroy.js-cart.icon-bin2  





          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __num 
              .card__info.card__info--prop __num 
              i.card__destroy.js-cart.icon-bin2  




.list__items.list__items--properties.list__items--properties-sass
          .card__cheap P
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __props
              .card__info.card__info--prop __props
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __prop
              .card__info.card__info--prop __prop
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __prop--phone
              .card__info.card__info--prop __prop--phone
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __prop--adress
              .card__info.card__info--prop __prop--adress
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __product
              .card__info.card__info--prop __product
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __plaza
              .card__info.card__info--prop __plaza
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __phone
              .card__info.card__info--prop __phone
              i.card__destroy.js-cart.icon-bin2  
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __pre-title
              .card__info.card__info--prop __pre-title
              i.card__destroy.js-cart.icon-bin2  

.list__items.list__items--properties.list__items--properties-sass
          .card__cheap S
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __slider
              .card__info.card__info--prop __slider
              i.card__destroy.js-cart.icon-bin2  
      
      
      
      
      





          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __search
              .card__info.card__info--prop __search
              i.card__destroy.js-cart.icon-bin2  


          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __soc
              .card__info.card__info--prop __soc
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  .soc
              .card__info.card__info--prop .soc
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  .soc__link
              .card__info.card__info--prop .soc__link
              i.card__destroy.js-cart.icon-bin2  


.list__items.list__items--properties.list__items--properties-sass
          .card__cheap T
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  textarea
              .card__info.card__info--prop textarea(value="" rows="10" cols="45" name="text" placeholder="" form="auth")
              i.card__destroy.js-cart.icon-bin2  


      
          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __title
              .card__info.card__info--prop __title
              i.card__destroy.js-cart.icon-bin2  

          .list__card.card.js-card(draggable="true").js-card-grid.card--sass.copytext
              .card__header  __text
              .card__info.card__info--prop __text
              i.card__destroy.js-cart.icon-bin2  




