.list__items.list__items--properties
            .card__cheap 
              p Общие 
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header(style="text-shadow: 0 0 10px #FF0000; color:SpringGreen")
                span opacity:
              .card__info.card__info--prop opacity: .2
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header   &:hover
              .card__info.card__info--prop &:hover
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header   &:focus
              .card__info.card__info--prop &:focus
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header   display: block
              .card__info.card__info--prop display: block
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header   overflow: hidden
              .card__info.card__info--prop overflow: hidden
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header   display: none
              .card__info.card__info--prop display: none
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header   auto
              .card__info.card__info--prop auto
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header   !important
              .card__info.card__info--prop !important
              i.card__destroy.js-cart.icon-bin2