.list__items.list__items--properties

            .list__card.card.js-card(draggable="true").js-card-grid.card--font.copytext
              .card__header
                span font-size:
              .card__info.card__info--prop font-size:
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.card--font.copytext
              .card__header
                span color:
              .card__info.card__info--prop color:
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.card--font.copytext
              .card__header
                span white
              .card__info.card__info--prop white
              i.card__destroy.js-cart.icon-bin2


            .list__card.card.js-card(draggable="true").js-card-grid.card--font.copytext
              .card__header
                span $active
              .card__info.card__info--prop $active
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.card--font.copytext
              .card__header
                span line-height:
              .card__info.card__info--prop line-height: 1
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.card--font.copytext
              .card__header
                span letter-spacing:
              .card__info.card__info--prop letter-spacing: .018rem
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.card--font.copytext
              .card__header
                span font-weight:
              .card__info.card__info--prop font-weight: 500
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.card--font.copytext
              .card__header
                span text-transform
              .card__info.card__info--prop text-transform: uppercase
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.card--font.copytext
              .card__header
                span text-shadow:
              .card__info.card__info--prop text-shadow: 0 0 3px rgba(0,0,0, .4)
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.card--font.copytext
              .card__header
                  span text-align: center
              .card__info.card__info--prop text-align: center
              i.card__destroy.js-cart.icon-bin2


