.list__items.list__items--properties.list__items--properties-grid 
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header(style="text-shadow: 0 0 10px #FF0000; color:SpringGreen")  display: grid
              .card__info.card__info--prop display: grid
              i.card__destroy.js-cart.icon-bin2



            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  grid-template-columns: repeat(3, 1fr)
              .card__info.card__info--prop grid-template-columns: repeat(3, 1fr)
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  адаптивные колонки однаковой ширины
              .card__info.card__info--prop grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  много одинаковых колонок в ряд
              .card__info.card__info--prop grid-template-columns: repeat(auto-fill,100px)
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header grid-template-columns:
              .card__info.card__info--prop grid-template-columns: 100px 200px minmax(100px, 300px)&#45;grid-template-columns: min-content 200px max-content&#45;
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header grid-template-rows:
              .card__info.card__info--prop grid-template-rows:  repeat(3, 1fr)
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header grid-auto-flow: column
              .card__info.card__info--prop grid-auto-flow: column
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header grid-template-areas:
              .card__info.card__info--prop grid-template-areas: 'area1 area2' 'area1 area2' 'area1 .' 'area1 area2' 'area1 area2'
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header grid-area:
              .card__info.card__info--prop grid-area:
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header column-gap:
              .card__info.card__info--prop column-gap:
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header row-gap:
              .card__info.card__info--prop row-gap:
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header grid-column: 
              .card__info.card__info--prop grid-column: 1/3
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header grid-row:
              .card__info.card__info--prop grid-row: 1/3
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header align-items
              .card__info.card__info--prop align-items: center  auto  normal  start  end    stretch  baseline  first baseline  last baseline
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header align-content
              .card__info.card__info--prop align-content: center   normal  start  end  flex-start  flex-end   space-around  baseline  first baseline  last baseline  space-evenly  safe  unsafe
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header align-self
              .card__info.card__info--prop   align-self:  center auto normal  self-start  self-end  flex-start  flex-end  baseline  first baseline  last baseline  stretch  safe  unsafe
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header justify-content
              .card__info.card__info--prop justify-content: center  normal  start  end    stretch  space-around  space-between  space-evenly  baseline  first baseline  last baseline
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header justify-items
              .card__info.card__info--prop justify-items:  center auto  normal  start  end    stretch  baseline  first baseline  last baseline
              i.card__destroy.js-cart.icon-bin2 
            
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header justify-self
              .card__info.card__info--prop justify-self:  center auto normal  start  end  flex-start  flex-end self-start  self-end  left  right  baseline  first baseline  last baseline  stretch safe  unsafe
              i.card__destroy.js-cart.icon-bin2 