.list__items.list__items--properties.list__items--properties-jq
            .card__cheap 
              p jq
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  doc.ready
              .card__info.card__info--prop $(document).ready(function (e) {  }); 
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  $(this)
              .card__info.card__info--prop $(this)
              i.card__destroy.js-cart.icon-bin2 
         
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  var a =
              .card__info.card__info--prop var a =
              i.card__destroy.js-cart.icon-bin2 
         
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  let mmm =
              .card__info.card__info--prop let mmm =
              i.card__destroy.js-cart.icon-bin2 
         
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  $("  ")
              .card__info.card__info--prop $("")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .find
              .card__info.card__info--prop .find("  ")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .next
              .card__info.card__info--prop .next("  ")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .siblings
              .card__info.card__info--prop .siblings("  ")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .closest
              .card__info.card__info--prop .closest("  ")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .parent
              .card__info.card__info--prop .parent("  ")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .last()
              .card__info.card__info--prop $("p:first").last()
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .first()
              .card__info.card__info--prop $("p:last").first()
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header .attr
              .card__info.card__info--prop $("div").attr({"class":"divEl", "title":"Див"})
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header .hasClass
              .card__info.card__info--prop .hasClass(" ")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header .addClass
              .card__info.card__info--prop .addClass("active")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header .removeClass
              .card__info.card__info--prop .removeClass("active")
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  click
              .card__info.card__info--prop $("    ").on("click", function () { }); 
              i.card__destroy.js-cart.icon-bin2 
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  on("click"
              .card__info.card__info--prop $(".art_inner__vidget").on("click", "a", function (event) {  });
              i.card__destroy.js-cart.icon-bin2 



            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .append(
              .card__info.card__info--prop .append(); 
              i.card__destroy.js-cart.icon-bin2 
           


            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .eq
              .card__info.card__info--prop .eq($(this).index())
              i.card__destroy.js-cart.icon-bin2 





            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  Список селекторов
              .card__info.card__info--prop a:not(:last-child) :not(.flex-row-reverse) :first-child  :last-child    :nth-child( )  :nth-child-last( )  :only-child  :only-of-type   :first-of-type  :last-of-type   :nth-first-of-type( )  :nth-last-of-type( )
              i.card__destroy.js-cart.icon-bin2 









            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  setTimeout
              .card__info.card__info--prop setTimeout(function () {  $(".info").addClass("info-active"); }, 200);
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  if
              .card__info.card__info--prop if (window.pageYOffset > 100) { } else { }
              i.card__destroy.js-cart.icon-bin2 

        
        
        
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  window.onresize
              .card__info.card__info--prop window.onresize = function () {
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  window).scroll
              .card__info.card__info--prop $(window).scroll(function () { });
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header mouseup
              .card__info.card__info--prop $(document).mouseup(function (e){ });
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .scroll()
              .card__info.card__info--prop .scroll()
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  window.innerWidth 
              .card__info.card__info--prop window.innerWidth >= 999
              i.card__destroy.js-cart.icon-bin2 





            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .remove()
              .card__info.card__info--prop .remove();
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header .fadeOut(1);
              .card__info.card__info--prop .fadeOut(1);
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header .fadeIn(200);
              .card__info.card__info--prop .fadeIn(200);
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header .slideDown(200)
              .card__info.card__info--prop .slideDown(200)
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header .slideUp(200)
              .card__info.card__info--prop .slideUp(200)
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .css
              .card__info.card__info--prop .css("overflow", "visible");
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  закрытие модал
              .card__info.card__info--prop $(document).on("mouseup", function(e) { if ($(".popup__overlay").is(e.target)) {        }});
              i.card__destroy.js-cart.icon-bin2 



            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  $(el).offset().top - 100;
              .card__info.card__info--prop $(el).offset().top - 100;
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  $(window).width()
              .card__info.card__info--prop if ($(window).width() >= 992) {}
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  $(window).scrollTop();
              .card__info.card__info--prop $(window).scrollTop();
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  event.prevent
              .card__info.card__info--prop event.preventDefault();
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  .animate
              .card__info.card__info--prop .animate({ scrollTop: top - 80}, 800);
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  события формы
              .card__info.card__info--prop .focus(function(){})  .blur(function(){})  .change(function(){})  .focusin(function(){}) .focusout(function(){}) .select(function(){}) .submit(function(){})
              i.card__destroy.js-cart.icon-bin2 

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  массив из дочерних блоков
              .card__info.card__info--prop $(".accordion__item--profile").each(function () {let array = Array.from($(this).find(".history .video-catalog__item"));
              i.card__destroy.js-cart.icon-bin2 


            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  переббор массива
              .card__info.card__info--prop $.each(array, function (index) {if (2 < index) { $(this).addClass("_hide"); }
              i.card__destroy.js-cart.icon-bin2 