.list__items.list__items--properties.list__items--properties-js
            .card__cheap 
              p js
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  console.log()
              .card__info.card__info--prop console.log()
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  window.onload
              .card__info.card__info--prop window.onload=function(){}
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header  const My = () => 
              .card__info.card__info--prop const My = () => {};My();
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header   const card =
              .card__info.card__info--prop const card =
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header   var cart =
              .card__info.card__info--prop var cart =
              i.card__destroy.js-cart.icon-bin2

        
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header   querySelector
              .card__info.card__info--prop document.querySelector('.js-card');
              i.card__destroy.js-cart.icon-bin2
        
            .list__card.card.js-card(draggable="true").js-card-grid.copytext
              .card__header   все .query
              .card__info.card__info--prop parent.querySelector('.filmname'); &#45;  document.querySelector('.js-card');  &#45;  document.getElementById()   &#45;  document.getElementById()   &#45;  document.getElementsByTagName(имяТега)&#45;  document.getElementsByClassName() &#45;  document.querySelectorAll(selector); &#45;  document.querySelector('button'); &#45;  document.createElement(tagName); &#45;  document.getElementsByTagName(имяТега) &#45;  document.getElementsByClassName() &#45;  document.querySelectorAll(selector); &#45;  document.querySelector('button'); &#45;  document.createElement(tagName);
              i.card__destroy.js-cart.icon-bin2


        
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  операции с дочерними 
              .card__info.card__info--prop ele.appendChild(childEle) &#45; ele.removeChild(strong); &#45;ele.replaceChild(newChildEle, oldChileEle)
              i.card__destroy.js-cart.icon-bin2

        
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  операции с атрибутами
              .card__info.card__info--prop ele.setAttribute(name, value);&#45;ele.getAttribute(name);&#45;ele.removeAttribute(name);
              i.card__destroy.js-cart.icon-bin2

        
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  операции с классами
              .card__info.card__info--prop elem.classList.add("class")&#45;elem.classList.remove("class")&#45;elem.classList.toggle("class")&#45;elem.classList.contains("class")  
              i.card__destroy.js-cart.icon-bin2

        
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header операции со стилями
              .card__info.card__info--prop elem.style.backgroundColor = "red"&#45;div.style.cssText=`background-color: yellow;width: 100px;`&#45;div.setAttribute('style', 'color: red...')&#45;four.style.background="red";
              i.card__destroy.js-cart.icon-bin2

         

        
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  отношение к элементу
              .card__info.card__info--prop .children;&#45;.parentElement;&#45;nextElementSibling&#45;.previousElementSibling&#45;
              i.card__destroy.js-cart.icon-bin2

         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  EventListener
              .card__info.card__info--prop .addEventListener('click',foo);&#45;.removeEventListener('click',foo);
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  click
              .card__info.card__info--prop .addEventListener('click', function (event) {});
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  .onclick
              .card__info.card__info--prop sample.onclick = activeItem;
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  EventListener('dragover'
              .card__info.card__info--prop .addEventListener('dragover','drop','drop','dragend', dragOver);
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  onchange
              .card__info.card__info--prop inputCard.onchange = function() {  }
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  input
              .card__info.card__info--prop inputCard.input = function() {  }
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  .textContent
              .card__info.card__info--prop .textContent
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header childNodes 
              .card__info.card__info--prop Выведем содержимое первого узла:&#45;  console.log(parent.childNodes[0].textContent);
              i.card__destroy.js-cart.icon-bin2

         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  e.preventDefault
              .card__info.card__info--prop e.preventDefault();
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  .innerHTML
              .card__info.card__info--prop .innerHTML
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  .innerText
              .card__info.card__info--prop .innerText
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header .value
              .card__info.card__info--prop .value;
              i.card__destroy.js-cart.icon-bin2
         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  createElement
              .card__info.card__info--prop document.createElement('div');
              i.card__destroy.js-cart.icon-bin2
      
         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  .remove
              .card__info.card__info--prop .remove();
              i.card__destroy.js-cart.icon-bin2
      
         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header setTimeout
              .card__info.card__info--prop    function activeInfo() { info.classList.add("info-active") }  setTimeout(activeInfo, 200);
              i.card__destroy.js-cart.icon-bin2

            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  массив из дочерних элементов
              .card__info.card__info--prop .childNodes;
              i.card__destroy.js-cart.icon-bin2
     
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  перебор массива  из дочерних элементов
              .card__info.card__info--prop   
                p let array = ul.childNodes;
                p array.forEach((cell)=>{  
                p cell.addEventListener('click', function(event){
                p console.log(event.target.innerHTML); 
                p });
                p })
              i.card__destroy.js-cart.icon-bin2
     
    
         
            .list__card.card.js-card.js-card-grid(draggable="true").copytext
              .card__header  forEach
              .card__info.card__info--prop .forEach((cell)=>{    })
              i.card__destroy.js-cart.icon-bin2