.list__items.list__items--properties
            .list__card.card.js-card(draggable="true").js-card-grid.card--mix.copytext
              .card__header(style="text-shadow: 0 0 10px #FF0000; color:SpringGreen")   +pro
              .card__info.card__info--prop +pro
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--mix.copytext
              .card__header   +fdc
              .card__info.card__info--prop +fdc
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--mix.copytext
              .card__header   +center
              .card__info.card__info--prop +center
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--mix.copytext
              .card__header   +br
              .card__info.card__info--prop +br
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--mix.copytext
              .card__header   &:hover
              .card__info.card__info--prop &:hover
              i.card__destroy.js-cart.icon-bin2