.list__items.list__items--properties
            .card__cheap 
              p Размеры
              p Отступы
            .list__card.card.js-card(draggable="true").js-card-grid.card--size.copytext
              .card__header(style="text-shadow: 0 0 10px #FF0000; color:SpringGreen")   width: 
              .card__info.card__info--prop width:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size.copytext
              .card__header   height: 
              .card__info.card__info--prop height:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size.copytext
              .card__header
                span margin: 
              .card__info.card__info--prop margin: 0 0 0 0
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size.copytext
              .card__header
                span padding:
              .card__info.card__info--prop padding: 0 0 0 0
              i.card__destroy.js-cart.icon-bin2
 

            .list__card.card.js-card(draggable="true").js-card-grid.card--size.copytext
              .card__header   max-width: 
              .card__info.card__info--prop max-width:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size.copytext
              .card__header   min-width: 
              .card__info.card__info--prop min-width: 
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size.copytext
              .card__header   max-height: 
              .card__info.card__info--prop max-height:
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size.copytext
              .card__header   min-height: 
              .card__info.card__info--prop min-height: 
              i.card__destroy.js-cart.icon-bin2
            .list__card.card.js-card(draggable="true").js-card-grid.card--size.copytext
              .card__header   calc()
              .card__info.card__info--prop calc(60px + (158-60)*((100vw-768px)/(1199-768)))
              i.card__destroy.js-cart.icon-bin2