.list__items.list__items--properties
            .card__cheap 
              p wordpress
            .list__card.card.js-card(draggable="true").js-card-grid.card--abs.copytext
              .card__header  get_template_directory_uri()
              .card__info.card__info--prop  echo get_template_directory_uri()    /
              i.card__destroy.js-cart.icon-bin2


